* {
    box-sizing: border-box;
}

.cut {
    border-radius: 100%;
}
    
.fullscreen {
    height: 100vh;
}

@media screen and (min-width: 1280px) {
    body {
        margin: 0 !important;
        padding: 0 !important;
        font-family: 'Poppins', sans-serif;
        background-image: url(../media/background.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    #main-title {
        margin-bottom: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    
    #sub-title {
        margin-top: 0;
        width: 100%;
        text-align: center;
    }
    
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .main-box {
        background-color: rgba(112, 112, 112, 0.7);
        border-radius: 20px;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        margin-top: 40px;
        width: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
    }
    
    .profile-img {
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        object-fit: cover;
    }
    
    .links {
        width: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .links a {
        text-decoration: none;
        color: black;
        padding: 0.5rem 0;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    
    .botoes {
        padding: 0 0.5rem;
        background-color: #f5f5dc;
        border-radius: 50px;
        width: 30rem;
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
    }
    
    .botoes:hover {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid rgb(42, 42, 42);
    }
    
    .botoes img {
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
    }
    
    .botoes h3 {
        width: 23.6rem;
        text-align: center;
    }

    .copyright {
        color: white;
    }
}

@media screen and (max-width: 1080px) {
    body {
        margin: 0 !important;
        padding: 0 !important;
        font-family: 'Poppins', sans-serif;
        background-image: url(../media/mobile1080x720.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 97vw;
    }

    .main-box {
        background-color: rgba(112, 112, 112, 0.7);
        border-radius: 20px;
        border: 2px solid #ffffff;
        width: 89%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        margin-top: 5rem;
    }

    .links {
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links a {
        text-decoration: none;
        color: black;
        padding: 0.3rem 0;
    }

    .botoes {
        padding: 0 0.5rem;
        background-color: #f5f5dc;
        border: 1px solid white;
        border-radius: 50px;
        width: 18rem;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .botoes:hover {
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
    }

    .botoes h3 {
        width: 15rem;
        text-align: center;
    }

    .botoes img {
        height: 2rem;
        width: 2rem;
    }

    .profile-img {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        object-fit: cover;
    }

    #main-title {
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    #sub-title {
        font-size: 16px;
        margin-top: 0;
        width: 100%;
        text-align: center;
    }

    .copyright {
        color: white;
    }
}